*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


body{
	background: #4563;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


#quiz{
	background: #f1f1;
	width: 30rem;
	padding: 4rem;
	text-align: center;
}

h1{
	color: #5799;
	font-size: 3rem;
	text-align: center;
	padding: 2px 0;
}



#question{
	font-size: 1.7rem;
	color: #5798;
}
.btn{
	background: #6574;
	color: #fff;
	width: 250px;
	font-size: 20px;
	border: .3rem;
	padding: 10px 20px;
	margin: 10px  40px 10px;
    outline: 0;


}


.btn:hover{
	background: #6774;
	cursor: pointer;
}


#progress{
	font-size: 20px;
}

